---
import '/src/styles/global.css'; // Importe votre style global
---
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atelier de réparation d'amplis</title>

    <style>
      body {
        text-align: center;
        font-family: "Roboto", sans-serif;
        margin: 0 auto;   /* centre le contenu */
        padding-bottom: 150px; /* ajoute de l’espace sous le contenu */
      }

      p {
      text-align: justify; 
      font-family: "Roboto", sans-serif;
      line-height: 1.5;
      
      }

      .container ul {
      font-family: "Roboto", sans-serif;
      text-align: justify;      /* puces alignées à gauche */
      padding-left: 10px;    /* espace pour les puces */
      list-style-type: disc; /* puces classiques */
      }

      .container ul li {
      margin-bottom: 12px;   /* espace vertical entre les puces */
      line-height: 1.5;
      text-align: justify;
      }


      header {
        background-image: url('/images/baniere_v1.png');
        background-size: 35%;
        background-position: center;
        background-repeat: no-repeat;
        height: 180px;
      }

      nav {
        margin: 20px 0;
      }

      nav a {
        margin: 0 15px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-family: "Arial", sans-serif;
        font-variant: small-caps;
        font-size: 1.5em
      }

      h1 {
        font-size: 2em;
        margin-top: 70px;
        text-align: center;
        font-variant: small-caps;
        font-family: "Arial", sans-serif;
      }

      h2 {
        margin-top: 40px;
        font-size: 1.5em;
        text-align: center;
      }

      h3 {
      font-size: 1.5em;               /* taille du texte */
      font-weight: 900;                  /* texte en gras */
      font-family: "Calibri", sans-serif;
      color: #000A52;
      text-align: justify;                /* centre le texte si multi-ligne */
      border-radius: 4px;                /* coins légèrement arrondis, optionnel */
    }


      .contact {
        margin: 40px auto;
        max-width: 500px;
        text-align: left;
        background: #f7f7f7;
        padding: 20px;
        border-radius: 8px;
      }

      input, textarea {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: inherit;
      }

      button {
        padding: 10px 20px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .photos {
        margin: 50px auto;
      }

      .photos img {
        max-width: 300px;
        margin: 10px;
      }

      .container {
        max-width: 53%;
        margin: 0 auto;
        text-align: center;
      }

      @media (max-width: 768px) {
      .container {
        width: 95%;         /* un peu plus large sur mobile */
        max-width: none;    /* supprime la limite */
        text-align: left;   /* souvent plus lisible à gauche sur mobile */
      }
    }
    </style>
  </head>

  <body>
    <header></header>

    <nav>
      <a href="/">Réparation</a> &#9670;
    </nav>

    <main>
      <div class="container">
        
        <h1>Atelier de réparation de matériel audio à Montreuil (93)</h1>

        <p>Technicien réparateur spécialisé en <strong>électronique audio</strong>, j’interviens sur vos <strong>amplificateurs à lampes</strong> et <strong>pédales d’effets</strong> afin de leur redonner une seconde vie, tout en préservant au maximum leur caractère sonore d’origine. </p>
        <p>Que ce soit pour une réparation ou pour une opération de maintenance, n'hésitez pas à me contacter !</p>
        <h2>Comment se déroule une intervention ?</h2>
        <h3>1. Demande de réparation</h3>
        <p> Pour toute demande de réparation, utilisez le <strong>formulaire de contact</strong> disponible en bas de page. Je vous réponds rapidement pour organiser la suite.</p>
        <p> Pour toute réparation sur un autre type de matériel ou demande de modification de pédale/ampli, n’hésitez pas à également m'en faire part. J’étudierai votre demande avec attention.</p>
        <h3>2. Dépôt ou récupération du matériel</h3>
        <ul>
        <li>Dépôt possible directement dans <strong>mon atelier à Montreuil (93)</strong></li>
        <li>Récupération à domicile possible sur <strong>Paris et la proche banlieue</strong> (avec frais de déplacement)</li>
        </ul>
        <h3>3. Devis et validation</h3>
        <p>Après un premier examen, je vous transmets un <strong>devis détaillé</strong> (étant en phase de lancement, les refus de devis ne sont pas facturés).</p>
        <h3>4. Réparation et restitution</h3>
        <p>Après votre accord, la réparation est effectuée dans <strong>un délai deux semaines</strong>, sauf dans le cas où l'opération nécessiterait la commande de composants très spécifiques.</p>
        <p>Le matériel est ensuite restitué sur rendez-vous.</p>
        <h3>Suivi pour les amplificateurs à lampes</h3>
        <p>Chaque ampli réparé est livré accompagné d'une <strong>fiche de suivi</strong> mentionnant notamment l’état des lampes et le détail des interventions effectuées.</p>

        <h2>Tarifs</h2>
        <p>Les tarifs sont calculés ainsi : <strong>40€/heure de main-d’œuvre</strong> + <strong>coût des pièces détachées</strong> </p>
        <p>En moyenne, une réparation de pédale coûte 20 à 40€, une réparation d’ampli 80 à 120€.</p>
        

        <h2>Formulaire de contact </h2>
        <p>(Il n'est pas nécessaire d'utiliser un compte google pour remplir le formulaire)</p>
      </div>
    
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScACAr3kklZvhjutSgEUuuYJW8jjivxqTxZjHj8Zy66nMroPQ/viewform?embedded=true" width="640" height="896" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
        
      </script>

        <p>
        <h1>! Site en cours de construction !</h1>
        </p>

    </main>
  </body>
</html>
